{% extends 'base.html' %}

{% block query %}
  <div class=" container starter-template">
    <h1>{{ user.username }}</h1>
  </div> 
{% endblock %}

{% block section_content %}
  <div class="row">
      <h2 class="col-xs-12">Liste des produits sauvegarder</h2>
  </div>
  <div class="row">
    <hr class="col-lg-offset-55 col-xs-1">
  </div>

  {% if substitutes|length_is:"0" %}
    <div class="row">
      <h3>Vous n'avez aucun produit dans vos favoris</h3>
    </div>
  {% else %}
    <div class="row div-products">
      {% for substitute in substitutes %}
        <div class="col-sm-4">
          <div class="row div-product">
            <div class="col-sm-12 coloffset2 col-xs-8">
              <a class="link-product" href="{% url 'catalog:detail_substitute' substitute.id %}" title="{{ substitute1.name }}">
                <div class="div-img">
                  <img class="img-product" src="{{ substitute.picture.url }}" alt="{{ substitute.picture.name }}" />
                </div>
                <span class="nutriscore">
                  {% if 'nutriscore-a.svg' in substitute.nutri_score.url %}A
                  {% elif 'nutriscore-b.svg' in substitute.nutri_score.url %}B
                  {% elif 'nutriscore-c.svg' in substitute.nutri_score.url %}C
                  {% elif 'nutriscore-d.svg' in substitute.nutri_score.url %}D
                  {% elif 'nutriscore-e.svg' in substitute.nutri_score.url %}E
                  {% endif %}
                </span>
                <div class="product-name">{{ substitute.name|truncatewords:10 }}</div>
              </a>  
            </div> 
          </div> 
        </div>
        {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}