{% extends 'base.html' %}

{% block query %}
  <div class=" container starter-template">
    <h1>Inscription</h1>
  </div> 
{% endblock %}

{% block section_content %}
  <div class="row">
    <h2 class="col-xs-12">Création de compte</h2>
  </div>
  <div class="row">
    <hr class="col-lg-offset-55 col-xs-1">
  </div>
  
  <form class="col-sm-offset-4 col-xs-offset-2 col-xs-6" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p class="field-form">
        {{ field.label_tag }}<br>
        {{ field }}<br>
        
        {% for error in field.errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="btn btn-primary btn-lg submit" type="submit">S'inscrire</button>
  </form>
  <div class="row">
    <p class="col-xs-offset-2 col-xs-8 redirect ">Vous avez dèjà un compte? 
      <a href="{% url 'users:log_in' %}">Cliquez ici pour vous connecter!</a>
    </p>
  </div>
{% endblock %}