{% extends 'base.html' %}

{% block query %}
  <div class=" container starter-template">
    <h1>Mentions légales</h1>
  </div> 
{% endblock %}

{% block section_content %}
  <div class="row">
    <h2 class="col-xs-12">Droits d'auteurs</h2>
  </div>
  <div class="row">
    <hr class="col-lg-offset-55 col-xs-1">
  </div>

  <div class="row legal">
    Logo Pur beurre par <a class="link-legal" href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo">Pur Beurre - Charte Graphique</a>
  </div>
  <div class="row legal">
    Logo de carotte par <a class="link-legal" href="https://thenounproject.com/term/carrot/29691/">Fabien Jouin</a>
  </div>
  <div class="row legal">
    Logo de connexion par <a class="link-legal" href="https://thenounproject.com/search/?q=login&i=2401379" >Alena Artemova</a>
  </div>
  <div class="row legal">
    Logo de deconnexion par <a class="link-legal" href="https://thenounproject.com/search/?q=logout&i=1251677" >Kamal</a>
  </div>
  <div class="row legal">
    Fond de page par <a class="link-legal" href="https://unsplash.com/photos/eqsEZNCm4-c">Olenka Kotyk</a>
  </div>
  <div class="row legal">
    Images de colette et remy par <a class="link-legal" href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/langage-visuel/photographies">Pur Beurre - Charte Graphique</a>
  </div>
  <div class="row legal">
    Les données sont issues de l'API du site <a class="link-legal" href="https://fr.openfoodfacts.org/">OpenFoodFacts</a>
  </div>

{% endblock %}